
        <h2>Edit Article</h2>
        <% if @articlee.errors.any? %>
        <h2>The following errors prevented the article from being saved</h2>
        <ul>
        <% @articlee.errors.full_messages.each do |msg| %>
        <li> <%= msg %></li>
        <% end %>
        </ul>
        <% end %>
        <%= form_with(model: @articlee, local: true ) do |f| %>
        <p> 
        <%= f.label :title %> <br/> 
        <%= f.text_field :title %>
        </p>

        <p> 
        <%= f.label :description %> <br/> 
        <%= f.text_area :description %>
        </p>
        <p>
        <%=f.submit %>
        </p>

        <% end %>
        <button><%= link_to 'Cancel and Return to Articles List' , articlees_path %></button>